---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Egi's Works" description="Some of my best works">
  <main>
    <div class="flex flex-col-reverse md:flex-row sm justify-between items-center md:items-start">
      <div class="">
        <div class="text-5xl">BSTP</div>
        <div class="text-3xl">Built with NextJs</div>
        <div class="text-2xl">
          A Tourism Web Application i made for my college final project
        </div>
      </div>
      <img width={500} sizes="(max-width:640px 300px)" src="/BSTP Banner.png" alt="bstp banner">
    </div>
  </main>
</Layout>
