<header
  class="px-24 py-8 max-sm:px-5 max-sm:py-6 max-x-7xl w-full mx-auto"
>
  <div class="bg-white flex justify-between items-center">
    <a href="/" class="flex items-center gap-x-4">
      <img
        src="/main-logo.png"
        alt="logo igeegi"
        width={120}
        height={120}
        class="rounded-2xl aspect-thumbnail object-cover"
      />
    </a>
    <ul class="hidden sm:flex gap-x-8">
      <li><a href="/" class="font-bold">Home</a></li>
      <li><a href="about" class="font-bold">Works</a></li>
      <!-- <li><a href="/blog" class="font-bold">About</a></li> -->
    </ul>
  </div>
</header>
